/* CSS Document */

.com_jed {
    background-color: #f3f3f3;
}

.ticket_container {
    background-color: #ffffff;
}

.ticket-header {
    position: relative;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0 0 10px;
}

.ticket-header h1 {
    margin-top: 0;
    text-transform: uppercase;
    padding: 5px 20px 5px 15px;
    background-color: #f6f6f6;
    color: #333;
    font-size: 1em;
}

.ticket-header input {
    width: 90%;
    align-items: center;
}

.ticket-tabs a {
    text-transform: uppercase;
}

.tab-content div {
    background-color: #ffffff;
    /*border: 1px solid rgba(0,0,0,0.15);*/
}

div.ticket-container {
    background-color: #ffffff;
}


.widget h1 {
    margin-top: 0;
    text-transform: uppercase;
    padding: 5px 20px 5px 15px;
    background-color: #f6f6f6;
    color: #333;
    font-size: 1.2em;
}

.widget .container {
    padding: 20px;
    width: 100%;
}

.widget {
    position: relative;
    padding: 0;
    /*background-color: #fff;*/
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.15);
}

