.com-apps-container .badge {
  margin: 1px;
}
.com-apps-container .fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 95%);
}
.com-apps-container .com-apps-sidebar .nav .nav {
  padding-left: 15px;
}
.com-apps-container .com-apps-sidebar a:hover, .com-apps-container .com-apps-sidebar a.active {
  color: #fff;
  text-decoration: none;
  background-color: #33608f;
}
.com-apps-container .grid-container .card {
  height: 400px;
  margin-bottom: 2rem;
}
.com-apps-container .grid-container .card:hover {
  background-color: #fff;
}
.com-apps-container .grid-container .card-img, .com-apps-container .grid-container .card-img-top {
  height: 6rem;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.com-apps-container .grid-container .card-text {
  height: 160px;
  overflow: hidden;
}
.com-apps-container .grid-container .card-body {
  padding: 0.5rem;
  cursor: pointer;
}
.com-apps-container .list-container {
  box-sizing: border-box;
}
.com-apps-container .list-container .fader {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 25%);
}
.com-apps-container .list-container .list-group-item {
  margin-bottom: 10px;
}
.com-apps-container .list-container .list-group-item:hover {
  background-color: #f8f8f8;
}
.com-apps-container .list-container .list-group-item .row {
  cursor: pointer;
}
.com-apps-container .item-view {
  margin-top: 3rem;
}
.com-apps-container .item-view a[target=_blank] span.icon-download, .com-apps-container .item-view a[target=_blank] span.icon-list, .com-apps-container .item-view a[target=_blank] span.icon-share-alt {
  display: none;
}
.com-apps-container .form-row {
  display: flex;
}
.com-apps-container .form-row .col-md:first-child {
  margin-right: 0.8rem;
}
.com-apps-container .form-row .input-group > input#com-apps-searchbox {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.com-apps-container .form-row .input-group .input-group-append button#search-extensions {
  color: var(--atum-text-light);
  background-color: var(--atum-link-color);
  border-color: var(--atum-link-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.com-apps-container .form-row .input-group .input-group-append button#search-reset {
  -webkit-margin-start: 0.8rem;
          margin-inline-start: 0.8rem;
  background-color: var(--atum-bg-dark);
  border-radius: 0.25rem;
}

/* stylelint-disable selector-max-compound-selectors */
html[dir=rtl] .com-apps-container .form-row .col-md:first-child {
  margin-left: 0.8rem;
}
html[dir=rtl] .com-apps-container .form-row .input-group > input#com-apps-searchbox {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
html[dir=rtl] .com-apps-container .form-row .input-group .input-group-append button#search-extensions {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
}

/* stylelint-enable selector-max-compound-selectors */
.ifw-busy {
  overflow: hidden;
}

.ifw-loading-container {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: url("../../system/images/ajax-loader.gif") rgba(255, 255, 255, 0.7) 50% 10px no-repeat;
  opacity: 0.95;
}