<?php
class JConfig {
	public $MetaAuthor = '1';
	public $MetaDesc = 'Find extensions for your Joomla site in the Joomla Extensions Directory, the official directory for Joomla components, modules and plugins.';
	public $MetaKeys = '';
	public $MetaRights = '';
	public $MetaTitle = '1';
	public $MetaVersion = '0';
	public $access = '1';
	public $cache_handler = 'file';
	public $cachetime = '15';
	public $caching = '0';
	public $captcha = '0';
	public $cookie_domain = '';
	public $cookie_path = '';
	public $host = 'ID264608_jed.db.hosting-cluster.nl';
	public $user = 'ID264608_jed';
	public $password = 'OZS54CaN20Q1gEDWMTes';
	public $db = 'ID264608_jed';
	public $dbprefix = 'jed4_';
	public $dbtype = 'mysqli';
	public $debug = '0';
	public $debug_lang = '0';
	public $display_offline_message = '1';
	public $editor = 'jce';
	public $error_reporting = 'default';
	public $feed_email = 'author';
	public $feed_limit = '25';
	public $force_ssl = '0';
	public $fromname = 'Joomla! Extensions Directory™';
	public $ftp_enable = '0';
	public $ftp_host = '';
	public $ftp_pass = '';
	public $ftp_port = '21';
	public $ftp_root = '';
	public $ftp_user = '';
	public $gzip = '0';
	public $helpurl = '';
	public $lifetime = '30';
	public $list_limit = '20';
	public $live_site = '';
	public $log_path = '/usr/local/var/www/jed/administrator/logs';
	public $mailer = 'smtp';
	public $mailfrom = 'no-reply@extensions.joomla.org';
	public $memcache_compress = '0';
	public $memcache_persist = '1';
	public $memcache_server_host = 'localhost';
	public $memcache_server_port = '11211';
	public $offline = '1';
	public $offline_image = '';
	public $offline_message = 'This site is down for maintenance.<br />Please check back again soon.';
	public $offset = 'UTC';
	public $offset_user = 'UTC';
	public $robots = '';
	public $secret = 'uGqNMRogu6tvndi97m0zpuV6qNSu12Yl';
	public $sef = '1';
	public $sef_rewrite = '1';
	public $sef_suffix = '0';
	public $sendmail = '/usr/sbin/sendmail';
	public $session_handler = 'database';
	public $sitename = 'Joomla! Extensions Directory™';
	public $sitename_pagetitles = '0';
	public $smtpauth = '0';
	public $smtphost = 'localhost';
	public $smtppass = 'wkH8wLouM2';
	public $smtpport = '1025';
	public $smtpsecure = 'none';
	public $smtpuser = 'joomla-osm';
	public $tmp_path = '/usr/local/var/www/jed/tmp';
	public $unicodeslugs = '0';
	public $debug_lang_const = '1';
	public $mailonline = '1';
	public $cache_platformprefix = '1';
	public $shared_session = '0';
	public $memcached_persist = '1';
	public $memcached_compress = '0';
	public $memcached_server_host = 'localhost';
	public $memcached_server_port = '11211';
	public $redis_persist = '1';
	public $redis_server_host = 'localhost';
	public $redis_server_port = '6379';
	public $redis_server_auth = '';
	public $redis_server_db = '0';
	public $proxy_enable = '0';
	public $proxy_host = '';
	public $proxy_port = '';
	public $proxy_user = '';
	public $proxy_pass = '';
	public $massmailoff = '0';
	public $replyto = '';
	public $replytoname = '';
	public $session_memcache_server_host = 'localhost';
	public $session_memcache_server_port = '11211';
	public $session_memcached_server_host = 'localhost';
	public $session_memcached_server_port = '11211';
	public $session_redis_persist = '1';
	public $session_redis_server_host = 'localhost';
	public $session_redis_server_port = '6379';
	public $session_redis_server_auth = '';
	public $session_redis_server_db = '0';
	public $frontediting = '0';
	public $asset_id = '1';
}